
.simple-content {
  padding: 80px 0;
  background: white;
}

.content-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.content-wrapper h2 {
  font-size: 58px;
  color: #000000;
  line-height: 73px;
  margin-bottom: 38px;
}

.content-paragraphs {
  font-size: 22px;
  font-weight: 300;
  color: #535353;
  line-height: 28px;
  text-align: left;
}

.content-paragraphs p {
  margin-bottom: 35px;
  padding: 0 10px;
}

.content-paragraphs p:not(:last-child) {
  border-bottom: 1px solid rgba(41, 66, 149, 0.05);
  padding-bottom: 35px;
}

.content-highlight {
  background: rgba(76, 199, 221, 0.1);
  border-left: 4px solid #4CC7DD;
  padding: 30px;
  margin: 50px 10px 0 10px;
  border-radius: 0 10px 10px 0;
}

.content-highlight p {
  margin-bottom: 0;
  color: #294295;
  font-size: 18px;
  line-height: 1.7;
}
@media (max-width: 768px) {
  .simple-content {
    padding: 60px 0;
  }

  .content-wrapper h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .content-paragraphs {
    font-size: 18px;
    line-height: 1.7;
  }

  .content-paragraphs p {
    margin-bottom: 30px;
    padding: 0 5px;
  }

  .content-paragraphs p:not(:last-child) {
    padding-bottom: 30px;
  }

  .content-highlight {
    padding: 25px;
    margin: 40px 5px 0 5px;
  }

  .content-highlight p {
    font-size: 17px;
  }
}